<html>
    <head>
        <title>About Us</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style3.css') }}">
    </head>

    <body>

        <div class="div-outer">
            <div class="chatbot-header">
                <img src="{{ url_for('static', filename='my_image.png') }}" alt="My Image">
                <h1>Meal Recommendation Chatbot</h1>
                <ul class="chatbot-list">
                    <li><a href="./index.html" class="button1">Home</a></li>
                    <li><a href="./about_us.html" class="button1">About Us</a></li>
                    <li><a href="contact.html" class="button1">Contact</a></li>
                    <li><a href="./BMRpage.html" class="button1">BMR Calculate</a></li>
                </ul>   
            </div>
            <h1 class="header">Participants</h1>
            <div class="container">
                <p>Canberk Kızılkaya - 190706314</p>
                <p>Tolga Emre Koraş - 200706042</p>
                <p>Emin Mert Demirci - 180706023</p>
                <p>Yunus Emre Tezcan - 170706030</p>
                <p>Melisa Işıtır - 180706022</p>
                <p>Aleyna Narin - 190706034</p>
            </div>
        </div>
    </body>
</html>




