<html>
    <head>
        <title>Contact</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style5.css') }}">
    </head>

    <body>
        <div class="div-outer">
            <div class="chatbot-header">
                <img src="{{ url_for('static', filename='my_image.png') }}" alt="My Image">
                <h1>Meal Recommendation Chatbot</h1>
                <ul class="chatbot-list">
                    <li><a href="./index.html" class="button1">Home</a></li>
                    <li><a href="./about_us.html" class="button1">About Us</a></li>
                    <li><a href="contact.html" class="button1">Contact</a></li>
                    <li><a href="./BMRpage.html" class="button1">BMR Calculate</a></li>
                </ul>   
            </div>
            <div class="container">
                <div>
                    <div class = "inner-div">
                        <img src="{{ url_for('static', filename='github.png') }}" alt="My Image">
                        <p><a href="https://github.com/melisaisitir">https://github.com/LogitheInsane</a></p>
                    </div>
                </div>

                <div>
                    <div class = "inner-div">
                        <img src="{{ url_for('static', filename='github.png') }}" alt="My Image">
                        <p><a href="https://github.com/melisaisitir">https://github.com/Xholoas</a></p>
                    </div>
                </div>

                <div>
                    <div class = "inner-div">
                        <img src="{{ url_for('static', filename='github.png') }}" alt="My Image">
                        <p><a href="https://github.com/melisaisitir">https://github.com/MonclerD</a></p>
                    </div>
                </div>

                <div>
                    <div class = "inner-div">
                        <img src="{{ url_for('static', filename='github.png') }}" alt="My Image">
                        <p><a href="https://github.com/melisaisitir">https://github.com/Emretezzcan</a></p>
                    </div>
                </div>

                <div>
                    <div class = "inner-div">
                        <img src="{{ url_for('static', filename='github.png') }}" alt="My Image">
                        <p><a href="https://github.com/melisaisitir">https://github.com/melisaisitir</a></p>
                    </div>
                </div>

                <div>
                    <div class = "inner-div">
                        <img src="{{ url_for('static', filename='github.png') }}" alt="My Image">
                        <p><a href="https://github.com/melisaisitir">https://github.com/aleynarindir</a></p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>




