body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background: #ddd7d7;
    font-family: 'Poppins', sans-serif;
}

a{
    text-decoration: none;
    color: #fff;
}

.div-outer{
    width: 100%;
    max-width: 1920px;
}


.chatbot-header{
    display: flex;
    position: relative;
    justify-content: start;
    align-items: center;
    background: #553939;
    height: 60px;
    width: 100%;
    overflow: hidden;
}

.chatbot-header h1{
    font-size: 25px;
    color: #fff;
    margin: 0 160px;
}

.chatbot-header img{
    width: 65px;
    height: 65px;
    position: absolute;
    left: 85px;
    top: 3px;
}

.chatbot-header .chatbot-list{
    display: flex;
    width: auto;
    height: 100%;
    align-items: center;
    list-style: none;
    margin: 0 0 0 150px;
    padding: 0;
}

.chatbot-header .chatbot-list li{
    display: flex;
    position: relative;
    padding: 0 20px;
    margin: 0 20px;
    justify-content: center;
    align-items: center;
    height: 70%;
    color: #fff;
    cursor: pointer;
}

.chatbot-header .chatbot-list li::after{
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    background: #fff;
    transition: .4s;
    bottom: 0;
    right: 0;
}

.chatbot-header .chatbot-list li:hover::after{
    width: 100%;
    left: 0;
    transition: .4s;
}

.container{
    margin: 50px 100px;
    display: flex;
    flex-direction: column;
}

.container a{
    color: #333;
    font-size: 16px;
    transition: 0.3s;
}

.container a:hover{
    font-weight: 650;
    color: #553939;
}

.container img{
    width: 125px;
    position: absolute;
    height: 50px;
    top: 2px;
}

.container > div{
    display: flex;
    margin-top: 20px;
    flex-direction: column;
}

.container .inner-div{
    display: flex;
    position: relative;
}

.inner-div p{
    padding-left: 175px;
}
